In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport

ModuleNotFoundError: No module named 'pandas_profiling'

In [13]:
data_daily = pd.read_csv('https://raw.githubusercontent.com/HDSC-21/covid19-on-the-global-economy/main/Source/worldometer_coronavirus_daily_data.csv')
data = pd.read_csv('https://raw.githubusercontent.com/HDSC-21/covid19-on-the-global-economy/main/Source/worldometer_coronavirus_summary_data.csv')

In [14]:
data.head(-30)

,country,continent,total_confirmed,total_deaths,total_recovered,active_cases,serious_or_critical,total_cases_per_1m_population,total_deaths_per_1m_population,total_tests,total_tests_per_1m_population,population
0,Afghanistan,Asia,147473,6736.0,98073.0,42664.0,1124.0,3699,169.0,707244.0,17739.0,39869084
1,Albania,Europe,133081,2457.0,130222.0,402.0,3.0,46299,855.0,916777.0,318945.0,2874408
2,Algeria,Africa,171392,4254.0,115276.0,51862.0,47.0,3834,95.0,230861.0,5164.0,44701619
3,Andorra,Europe,14678,128.0,14210.0,340.0,NaN,189643,1654.0,193595.0,2501292.0,77398
4,Angola,Africa,42646,1008.0,36708.0,4930.0,8.0,1256,30.0,681443.0,20065.0,33961015
...,...,...,...,...,...,...,...,...,...,...,...,...
185,South Sudan,Africa,11049,119.0,10514.0,416.0,NaN,975,10.0,174045.0,15355.0,11334900
186,Spain,Europe,4447044,81486.0,3711200.0,654358.0,1698.0,95075,1742.0,55855941.0,1194159.0,46774302
187,Sri Lanka,Asia,308812,4436.0,277118.0,27258.0,NaN,14357,206.0,4254600.0,197797.0,21509978
188,State Of Palestine,Asia,316738,3603.0,311832.0,1303.0,9.0,60577,689.0,1992937.0,381158.0,5228642
189,Sudan,Africa,37138,2776.0,30867.0,3495.0,NaN,826,62.0,234414.0,5215.0,44947622

In [15]:
data_daily.head()

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
0,2020-2-15,Afghanistan,0.0,NaN,0.0,0.0,NaN
1,2020-2-16,Afghanistan,0.0,NaN,0.0,0.0,NaN
2,2020-2-17,Afghanistan,0.0,NaN,0.0,0.0,NaN
3,2020-2-18,Afghanistan,0.0,NaN,0.0,0.0,NaN
4,2020-2-19,Afghanistan,0.0,NaN,0.0,0.0,NaN

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country                         220 non-null    object
 1   continent                       220 non-null    object
 2   total_confirmed                 220 non-null    int64
 3   total_deaths                    207 non-null    float64
 4   total_recovered                 219 non-null    float64
 5   active_cases                    219 non-null    float64
 6   serious_or_critical             146 non-null    float64
 7   total_cases_per_1m_population   220 non-null    int64
 8   total_deaths_per_1m_population  204 non-null    float64
 9   total_tests                     210 non-null    float64
 10  total_tests_per_1m_population   210 non-null    float64
 11  population                      220 non-null    int64
dtypes: float64(7), int64(3), object(2)
memory usage: 20.8+ KB

In [10]:
data.shape

(220, 12)

In [9]:
data.isnull().sum()

country                            0
continent                          0
total_confirmed                    0
total_deaths                      13
total_recovered                    1
active_cases                       1
serious_or_critical               74
total_cases_per_1m_population      0
total_deaths_per_1m_population    16
total_tests                       10
total_tests_per_1m_population     10
population                         0
dtype: int64

In [11]:
data.country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua And Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia And Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Caribbean Netherlands', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China Hong Kong Sar', 'China Macao Sar', 'China', 'Colombia',
       'Comoros', 'Congo', 'Costa Rica', 'Cote D Ivoire', 'Croatia',
       'Cuba', 'Curacao', 'Cyprus', 'Czech Republic',
       'Democratic Republic Of The Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Faeroe Islands', 'Falkland Islands Malvinas', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guatemala', 'Guinea Bissau',
       'Guinea', 'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Isle Of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Reunion', 'Romania', 'Russia',
       'Rwanda', 'Saint Barthelemy', 'Saint Helena',
       'Saint Kitts And Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre And Miquelon', 'Saint Vincent And The Grenadines',
       'Samoa', 'San Marino', 'Sao Tome And Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain',
       'Sri Lanka', 'State Of Palestine', 'Sudan', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor Leste', 'Togo',
       'Trinidad And Tobago', 'Tunisia', 'Turkey',
       'Turks And Caicos Islands', 'Uganda', 'UK', 'Ukraine',
       'United Arab Emirates', 'Uruguay', 'USA', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Viet Nam', 'Wallis And Futuna Islands',
       'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [12]:
data.continent.unique()

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Australia/Oceania'], dtype=object)

In [17]:
np.around(data.describe())

,total_confirmed,total_deaths,total_recovered,active_cases,serious_or_critical,total_cases_per_1m_population,total_deaths_per_1m_population,total_tests,total_tests_per_1m_population,population
count,220.0,207.0,219.0,219.0,146.0,220.0,204.0,210.0,210.0,2.200000e+02
mean,902192.0,20444.0,810619.0,67634.0,602.0,39901.0,707.0,14320687.0,902588.0,3.563921e+07
std,3598470.0,71537.0,3251487.0,386898.0,1625.0,42102.0,848.0,54759646.0,1645828.0,1.402212e+08
min,1.0,1.0,1.0,-1489.0,1.0,9.0,2.0,1408.0,2882.0,8.030000e+02
25%,7896.0,150.0,5355.0,406.0,9.0,3090.0,67.0,178743.0,88852.0,6.347300e+05
50%,77338.0,1375.0,62863.0,3488.0,36.0,26154.0,364.0,1315024.0,341641.0,6.580660e+06
75%,409994.0,8072.0,380964.0,20766.0,309.0,68381.0,1070.0,6732616.0,1002095.0,2.418337e+07
max,35733967.0,629290.0,30812873.0,5438593.0,9375.0,189643.0,5865.0,529577328.0,13111419.0,1.439324e+09

In [22]:
from pandas_profiling import ProfileReport
report = ProfileReport(data)

ModuleNotFoundError: No module named 'pandas_profiling'

In [ ]:
print(data['active_cases'].describe())
print(data['cumulative_total_deaths'].describe())
print(data['daily_new_deaths'].describe())